%span.notes
  %table.notes.sortable{ url: "#{sort_notes_url}" }
    %tbody
      - @notes.each do |note|
        = render 'notes/note', note: note, project: @project
  %br
  %button.btn.plus
    %i.icon-plus
    %small= "(#{@project.notes.completed.count})"
