<li>
<%= best_in_place note, :content, path: project_note_path( project, note.id ) %>
  <div class='pull-right'>
    <%= link_to project_note_path( project, note ), method: :delete do %>
      <span class='close'>&times;</span>
    <% end %>
  </div>
</li>
