.row
  .span5.info
    %h1 tangela
    %p
      Project management solution for the individual.
    %ul
      %li Add resources to your project
      %li Quickly add and delete notes

  .span6.new-user
    = render 'form'
