%ul.notes
  = form_for [ @project, Note.new ], remote: true do |f|
    %li.form
      %i.icon-plus-sign
      = f.text_field :content

  - @project.notes.each do |note|
    %li
      = render 'notes/note', note: note, project: @project
