.project-form.span6.offset3
  .page-header
    %h2
      Edit
      = @project.name
  = render 'form'
  .page-header
    %h2
      Delete
      = @project.name
  = link_to @project, method: :delete, confirm: 'Are you sure?' do
    %button.btn.btn-danger.project-delete
      Destroy Project
