.row
  .projects.span10.offset1
    = link_to new_project_path do
      %i.icon-file.pull-right
    - @projects.each do |project|
      .projects-box
        %h1
          = link_to project.name, project
        %ul.notes
          - project.notes.top.each do |note|
            %li
              = note.content
