.row
  .project.span10.offset1
    .title
      %h1
        = @project.name
        .pull-right
          = link_to new_project_resource_path( @project ), class: 'btn' do
            New Resource

    .lists

      %ul.resources
        - @resources.each do |resource|
          %li
            = display resource

      %hr

      %ul.notes
        - @project.notes.each do |note|
          %li
            = note.content
