.project
  .title
    %h1
      = @project.name

  %ul.resources
    - @resources.each do |resource|
      %li
        = display resource

  %ul.notes
    - @project.notes.each do |note|
      %li
        = note.content
