.resources-index
  .page-header
    %h3
      Resources for
      = link_to @project.name, @project
  %table.resource-list.table.table-striped
    - @resources.each do |resource|
      %tr
        %td
          = resource.value
        %td
          = link_to project_resource_path( @project, resource ), method: :delete do
            Close
