@import 'bootstrap'
@import url(http://fonts.googleapis.com/css?family=Audiowide)

body
  margin-top: 60px
  margin-bottom: 20px

.navbar-inner
  @include gradient-vertical(#F3F3F6, #DCDCE5)
  $shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  @include box-shadow($shadow)
  border-bottom: 1px solid #CACACA

.navbar-fixed-top .brand
  color: #ff7d00
  font-weight: bold
  text-shadow: rgba(0, 0, 0, .125) 0px 1px 0px
  font-family: 'Audiowide', cursive

.navbar .nav > li > a
  color: black

.navbar .nav > li > a:hover
  color: #ff9100

.navbar .divider-vertical
  height: 30px
  margin-top: 5px
  background-color: #E8E7EE
  border-right: 1px solid #F3F3F6

h1
  color: #ff9100

  a
    color: #ff9100

  a:hover
    color: #011302

table.zebra-striped
  @extend .table
  @extend .table-striped

a.Red
  color: $red
a.Blue
  color: $blue
a.Green
  color: $green
a.Yellow
  color: $yellow
a.Orange
  color: $orange
a.Pink
  color: $pink
a.Purple
  color: $purple
