@import 'bootstrap/mixins'

.projects
  @include border-radius
  background-color: #F3F3F6
  @include box-shadow
  border: 1px solid #ccc
  padding: 15px

.projects-box

  h1
    border-bottom: 1px solid #ddd
    padding: 5px

  ul.notes
    margin: 12px 15px 12px 15px
    list-style-type: none

    li
      padding: 3px
      border-bottom: 1px inset #eee

.project
  @extend .projects

  .title a
    margin-bottom: 15px
    font-size: 10px

  h1
    border-bottom: 1px inset #ddd
    padding: 6px
    margin-bottom: 12px

  ul.resources
    list-style-type: none
    padding: 4px

    li
      display: inline-block
      padding: 6px
      margin: 11px
      @include gradient-vertical(#ddd, #eee)
      height: 80px
      width: 80px
      max-width: 80px
      max-height: 80px
      border: 1px solid #ddd
      @include border-radius(4px)
      @include box-shadow(0 1px 1px rgba(0,0,0,.075))
      overflow: hidden

    img
      max-width: 100%
      max-height: 100%

  ul.notes
    list-style-type: none
    padding: 4px

    li
      padding: 5px
      @include border-radius
      border-bottom: 1px inset #eee

    li:hover
      background-color: rgba(209, 209, 209, .1)

  .lists
    margin: 20px
