.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to root_url, class: 'brand' do
        tangela
      - if signed_in?
        %ul.nav
          %li.divider-vertical
          %li
            = link_to 'Projects', projects_path

      %ul.nav.pull-right
        - if signed_in?
          %li.dropdown
            %a(class='dropdown-toggle' data-toggle='dropdown' href='#')
              = current_user.name
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'Logout', logout_path
